

@charset "UTF-8";
/* CSS Document */

* {-moz-box-sizing:border-box; box-sizing:border-box; }
body { background-color: #008000; margin:0; padding:0; }
html { margin:0; padding:0; }


/* Container */

#container { background-color: #FFFF00;  width:900px;  color:#008000; margin:0 auto; padding:30px 10px;}

/* Headers and Text*/

h1 {font-size: 3em; margin:0  0  30px  0; text-align:center; }

h2 {font-size: 2em; margin:0  0  20px  0; text-align:center; }

.standardtext {margin-top:0; margin-left:0; margin-right:0; margin-bottom:20px; width:850px; color:#008000; }

.nobullet {list-style:none; width:850px; margin:0 auto 20px auto;}

/* Navigation */
.simpletext {color:#FFFF00;}
#nav {background:#008000;}
#nav ul {list-style:none; margin:0; padding:0px 30px; text-align:center;}	
#nav ul li {display:inline-block;}
#nav ul li a {color:#FFFF00; text-decoration:none; font-size:1em; padding:20px 20px; display:inline-block;}
#nav ul li a:hover {color:#32CD32 text-decoration:underline; background-color:#A532CD;}